DB_HOST="localhost"
DB_USER="postgres"
DB_PASSWORD="root"
DB_NAME="postgres"
DB_PORT="5432"
GOTRUE_URL="http://localhost:9999"
JWT_SECRET="!!kahitanopailagayniyo999$$"

STRIPE_SECRET_KEY=

SENDGRID_EMAIL_FROM=
SENDGRID_API_KEY=
