<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html style="width:100%;font-family:arial, 'helvetica neue', helvetica, sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;padding:0;Margin:0;">
   <head>
      <meta charset="UTF-8">
      <meta content="width=device-width, initial-scale=1" name="viewport">
      <meta name="x-apple-disable-message-reformatting">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta content="telephone=no" name="format-detection">
      <title>Email Support</title>
      <style type="text/css">
         body {
         margin: 0;
         padding: 0;
         }
         table {
         border-spacing: 0;
         }
         td {
         padding: 0;
         }
         img {
         border: 0;
         }
         a {
         text-decoration: none;
         }
         p {
         font-weight: normal;
         color: black;
         }
         .span_btn {
         border-radius: 6px;
         background-color: #751132;
         color: white;
         padding: 15px 45px 15px 45px;
         text-align: center;
         font-weight: bold;
         }
         .wrapper {
         width: 100%;
         table-layout: fixed;
         background-color: #F7F7F7;
         padding-bottom: 40px;
         padding-top: 40px;
         }
         .webkit {
         max-width: 576px;
         background-color: white;
         margin: auto;
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
         }
         .outer {
         margin: 0 auto;
         width: 100%;
         max-width: 600px;
         border-spacing: 0;
         font-family: sans-serif;
         }
      </style>
   </head>
   <body>
      <div class="wrapper">
         <div class="webkit">
            <table class="outer">
               <tr>
                  <td>
                     <table width="100%" style="border-spacing: 0;">
                        <tr>
                           <td style="padding: 10px; text-align:center; color: #A554C4; font-size: 24px; margin-top: 14px">
                              elated
                           </td>
                        </tr>
                        <br>
                        <tr>
                           <td>
                              <p style="margin: 2px 32px 0px 32px; font-weight: bold;">Hi {{.FirstName}},</p>
                           </td>
                        </tr>
                        <br>
                        <tr>
                           <td>
                              <p style="margin: 2px 32px 0px 32px; color: #878787">Thank you for joining the Elated Beta List! We're thrilled to have you
                                 on board and appreciate your interest in our upcoming release.
                              </p>
                           </td>
                        </tr>
                        <br>
                        <tr>
                           <td>
                              <p style="margin: 2px 32px 0px 32px; color: #878787">We will keep you updated on the latest developments, early access,
                                 opportunities, and exclusive content related to our mobile ap. We value your participation in our beta community and look forward to 
                                 delivering a top-notch experience.
                              </p>
                           </td>
                        </tr>
                        <br>
                        <tr>
                           <td>
                              <p style="margin: 2px 32px 0px 32px; color: #878787">Sincerely,</p>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <p style="margin: 2px 32px 0px 32px; font-weight: bold; 									font-style: italic;">Elated</p>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <hr style="border-top: 1px solid gray; opacity: 50%;">
                           </td>
                        </tr>
                        <br>
                        <tr>
                           <td>
                              <div style="background-color: #F6F7F8; padding: 10px; 									text-align: center; margin: 0px 35px 16px">
                                 <div style="display: inline-flex; flex-direction: row; align-items: center; margin-bottom: 6px">
                                    <div>Meet</div>
                                    <div style="width: 6px; height: 6px; background-color: black; border-radius: 50%; margin: 6px 5px 0px;"></div>
                                    <div>Play</div>
                                    <div style="width: 6px; height: 6px; background-color: black; border-radius: 50%; margin: 6px 5px 0px"></div>
                                    <div>Connect</div>
                                 </div>
                                 <div style=" align-items: center; margin-bottom: 6px"><a><img src="https://i.ibb.co/pxHfCTj/Download-on-the-App-Store-Badge-svg.png" alt="Download-on-the-App-Store-Badge-svg" border="0" style="width: 100px; height: auto"></a>
                                 </div>
                                 <div style="display: inline-flex; flex-direction: row; align-items: center;">
                                    <a href="https://elated.io/privacy-policy">
                                       <div style="color: #A554C4;">Privacy Policy</div>
                                    </a>
                                    <div style="color: #A554C4; padding: 0 5px;">|</div>
                                    <a href="https://elated.io/contact-us">
                                       <div style="color: #A554C4;">Contact Us</div>
                                    </a>
                                    <div style="color: #A554C4; padding: 0 5px;">|</div>
                                    <a href="https://elated.io/terms-of-use">
                                       <div style="color: #A554C4;">Terms of Use</div>
                                    </a>
                                 </div>
                              </div>
                           </td>
                        </tr>
                        <br>
                        <tr>
                           <td>
                              <div style="text-align: center;">
                                 <div style="display: inline-flex; flex-direction: row; align-items: center; margin-bottom: 4px">
                                    <div style="align-items: center; margin-bottom: 6px; margin-right: 3px"><a href="https://www.facebook.com/elatedapp"><img src="https://i.ibb.co/LPLDD2L/icons8-facebook-50-1.png" alt="Download-on-the-App-Store-Badge-svg" border="0" style="width: 24px; height: auto"></a>
                                    </div>
                                    <div style="align-items: center; margin-bottom: 6px; margin-right: 3px"><a href="https://www.instagram.com/elatedapp/?hl=en"><img src="https://i.ibb.co/gjqh1Ky/icons8-instagram-30.png" alt="Download-on-the-App-Store-Badge-svg" border="0" style="width: 24px; height: auto"></a>
                                    </div>
                                    <div style="align-items: center; margin-bottom: 6px; margin-right: 3px"><a href="https://www.linkedin.com/company/elated-inc./about/"><img src="https://i.ibb.co/CnQ9NTB/icons8-linkedin-50.png" alt="Download-on-the-App-Store-Badge-svg" border="0" style="width: 24px; height: auto"></a>
                                    </div>
                                    <div style="align-items: center; margin-bottom: 6px; margin-right: 3px"><a href="https://twitter.com/elatedapp"><img src="https://i.ibb.co/S58R45j/icons8-x-50.png" alt="Download-on-the-App-Store-Badge-svg" border="0" style="width: 24px; height: auto"></a>
                                    </div>
                                 </div>
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td style="margin: 2px 32px 0px 32px; color: #878787; text-align: center;">
                              1316 3rd Street Promenade Suite #107 Santa Monica,
                           </td>
                        </tr>
                        <br>
                        <tr>
                           <td style="margin: 2px 32px 6px 32px; color: #878787; text-align: center;">
                              CA 90402 USA
                           </td>
                        </tr>
                     </table>
                  </td>
               </tr>
            </table>
         </div>
      </div>
   </body>
</html>